/*-- scss:defaults --*/

// Color de fondo de la Navbar (puedes usar Hex, RGB o nombres)
$navbar-bg: #2c3e50; 

// Color del texto de la Navbar
$navbar-fg: #ffffff; 

// Color cuando pasas el mouse sobre un link (opcional)
$navbar-hl: #18bc9c; 

/*-- scss:rules --*/

// Aquí puedes añadir CSS tradicional si las variables no son suficientes