/*-- scss:defaults --*/

$navbar-bg: #e15d57; 

.ods-icons img {
  border: none !important;
  box-shadow: none !important;
  background: none !important;
  transition: transform 0.2s ease-in-out;
  padding: 0 10px; /* Esto da la separación entre ellos */
}

.ods-icons img:hover {
  transform: scale(1.1);
}
